{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}
{% block body %}
	<section class="body">
		<section class="select_city">
			<div class="city city1"></div>
			<div class="select">
				<div class="div city1">
					<label for="category">Choisit une ville:</label>
					<select id="select_ city1">
						<option selected>liste des villes:</option>
						<option id="option_city1"></option>
					</select>
				</div>
                <div class="div city2">
					<label for="category">Choisit une ville:</label>
					<select id="select_ city2">
						<option selected>liste des villes:</option>
						<option id="option_city2"></option>
					</select>
				</div>
			</div>
			<div class="city city2"></div>
		</section>
		<section class="comparator_city">
			<div class="container comparator_city1"></div>
			<div class="data"></div>
			<div class="container comparator_city2"></div>
		</section>
	</section>
	{% block javascripts %}
		{{ encore_entry_script_tags('weatherstack') }}
	{% endblock %}
{% endblock %}
