.select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
> label {
  visibility: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: 'RichEatinAllCaps';
}

p {
  display: flex;
  margin: 0;
  font-family: 'FuntypeRegular';
}

li {
  font-family: 'FuntypeRegular';
}

.city {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.row {
  display: flex;
}

.row.wind {
  display: flex;
  flex-direction: column;
}

.comparator_city {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.register > label {
  visibility: initial;
}

form {
  display: flex;
  flex-direction: row;
}

#city {
  display: flex;
}

body {
  background: url(https://png.pngtree.com/back_origin_pic/02/67/65/f26e2ee2eb714423719a016eab729365.jpg);
  background-size: cover;
}

.select_city {
  display: flex;
  justify-content: space-evenly;
}

.header {
  display: flex;
  justify-content: center;
}

.buttonLogout {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 1.5rem;
}

.ulWeekly {
  display: flex;
  gap: 1.5rem;
}

.day {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.Params {
  list-style: none;
  margin-top: 1.5rem;
  text-align: center;
}

.Params
li {
  font-size: 0.8rem;
}

#date_dateStart_time_hour,
#date_dateStart_time_minute,
#date_dateEnd_time_minute,
#date_dateEnd_time_hour {
  display: none;
}

.btn.btn-primary.mt-3 {
  margin-top: 1.5rem;
  height: 1.5rem;
}

.dataWeekly
h1 {
  margin: 0;
}

.day1,
.day2 {
  list-style: none;
}

.day1,
.day2
p {
  margin: 0;
}

ul {
  padding: 0;
  gap: 4rem;
}

.getEnd,
.getStart {
  display: none;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

#registration_form_email {
  margin-left: 3.4rem;
}

#registration_form_agreeTerms {
  margin-right: 2rem;
}

.loginAcces {
  display: flex;
  flex-direction: column;
}

.registerFinish {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login {
  display: flex;
}

.goToLogin {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.flex {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 25rem;
  height: 20rem;
  border-radius: 10px;
  background-color: white;
  border: 2px solid;
}

.btn {
  margin-right: 0.5rem;
}

.textCity,
.addToList {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
    rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
    rgb(0 0 0 / 9%) 0px -3px 5px;
  width: 24rem;
  height: 15rem;
  border-radius: 10px;
  align-items: stretch;
  background-color: rgb(255 255 255);
  border: 2px solid;
}

.data {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
    rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
    rgb(0 0 0 / 9%) 0px -3px 5px;
  width: 25rem;
  height: 22rem;
  border-radius: 10px;
  align-items: stretch;
  background-color: rgb(255 255 255);
  border: 2px solid;
}

.container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
    rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
    rgb(0 0 0 / 9%) 0px -3px 5px;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  background-color: rgb(255 255 255);
  border: 2px solid;
}

.weekly {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
    rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
    rgb(0 0 0 / 9%) 0px -3px 5px;
  width: 28rem;
  height: 22rem;
  border-radius: 10px;
  align-items: stretch;
  background-color: rgb(255 255 255);
  border: 2px solid;
}

.formUpdateTransition
h1 {
  color: rgb(0, 0, 0);
}

.formCity {
  margin-top: 0.5rem;
  margin-left: 0.8rem;
  display: flex;
  justify-content: center;
}


.formCitySearch {
  margin-top: 2rem;
  justify-content: center;
}

h4 {
  display: flex;
  margin: 0;
}

.infoCity,
.infoCityContainer,
.createDates,
.dataWeekly {
  margin-left: 1rem;
  line-height: 1.5rem;
}

.infoCityComparator {
  margin-left: 2rem;
  line-height: 1.5rem;
  justify-content: center;
}

.ulData {
  display: flex;
  justify-content: center;
}

.data h3 {
  display: flex;
  margin: 1rem;
  text-align: center;
}

.flexForm {
  display: flex;
  gap: 1rem;
}

.weather img {
  border-radius: 50%;
  margin-bottom: 1rem;
}

.navbar {
  border-bottom: 1px solid;
}

.required {
  margin-right: 1rem;
}

