.select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: row;
}

#city {
  display: flex;
}

.select_city {
	display: flex;
    justify-content: space-between;
}
