.select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}>label {
 visibility: hidden;
}

p {
  display: flex;
  margin: 0;
}

.city {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.row {
  display: flex;
}

.row.wind {
  display: flex;
  flex-direction: column;
}

.comparator_city {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.register>label {
  visibility: initial;
}

form {
  display: flex;
  flex-direction: row;
}

#city {
  display: flex;
}

.select_city {
  display: flex;
  justify-content: space-evenly;
}

.header {
  display: flex;
  justify-content: center;
}

.buttonLogout {
  display: flex;
  justify-content: flex-end;
}
