{% extends 'base.html.twig' %}

{% block title %}City index
{% endblock %}

{% block body %}
	<section class="body">
		<section class="select_city">
			<div class="city city1"></div>
			<div class="select">
				<h1>Choisit les villes à comparer</h1>
				{{ include('city/_form.html.twig') }}
			</div>
			<div class="city city2"></div>
		</section>
		<section class="comparator_city">
			<div class="container comparator_city1"></div>
			<div class="data"></div>
			<div class="container comparator_city2"></div>
		</section>
	</section>
	{% block javascripts %}
		{{ encore_entry_script_tags('weatherstack') }}
	{% endblock %}
{% endblock %}
